<!DOCTYPE html>
<html>
  <head>
    <title>Inicio</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="./static/img/pageicon.png">
  </head>
  
  <body class="fondo">
    <header>
      <h1 class="completo">¿CUÁNTO SABES DE LOS ODS?</h1>
    </header>
    
    <article>
      <section>
        <a id="boton" href="./usuario"><img class="continuar" src="./static/img/next.png"/></a>
      </section>
    </article>
    
    <script>
      
    </script>
  </body>
</html>