<!DOCTYPE html>
<html>
  <style>
    
  </style>

  <head>
    <title>Pregunta</title>
  </head>
  
  <body>
    <header>
      <h1>PREGUNTA</h1>
    </header>

    <article>
      <section>
        <ul id="opciones">
          <!-- Por ahora, en el la estructura básica de html, la opción correcta es la 2 -->
          <li value="1" id="1"><a href="https://g01proyectointerdisciplinario.bono-ezequielez.repl.co/perdiste">opcion 1</a></li>
          <li value="2" id="2"><a href="https://g01proyectointerdisciplinario.bono-ezequielez.repl.co/ruleta">opcion 2</a></li>
          <li value="3" id="3"><a href="https://g01proyectointerdisciplinario.bono-ezequielez.repl.co/perdiste">opcion 3</a></li>
          <li value="4" id="4"><a href="https://g01proyectointerdisciplinario.bono-ezequielez.repl.co/perdiste">opcion 4</a></li>
        </ul>
      </section>
    </article>
    <script>
      
    </script>
  </body>
</html>