<!DOCTYPE html>
<html>
  <style>
    input
    {
      width: 300px;
    }
  </style>

  <head>
    <title>Ingresar Nombre</title>
  </head>
  
  <body>
    <header>
      <h1>INGRESA TU NOMBRE</h1>
    </header>

    <article>
      <section>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre (Entre 3 y 10 letras)">
      </section>
      <section id="boton">
        <a href="https://g01proyectointerdisciplinario.bono-ezequielez.repl.co/ruleta">></button>
      </section>
    </article>
    
    <script>
      
    </script>
  </body>
</html>